{% extends 'membership/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<style>
    

    
    .features{
        padding-top: 90px !important;
        
    }
    .features > div {
        height: 25rem !important;
    }
    .features2 > div {
        height: 25rem !important;
    }

</style>

<div class="container mt-5">

    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
              <h3 class="fs-5 mb-2 text-secondary text-uppercase">About Us</h3>
              <h2 class="display-5 mb-4">Our journey began with a dream of redefining how the world understands English Language.</h2>
              <!-- <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5" style="background-color: #E67918; border: none;">Discover More</button> -->
            </div>
          </div>
        </div>
      
        <div class="container overflow-hidden mt-5">
          <div class="row gy-4 gy-lg-0">
            <div class="col-12 col-lg-6">
              <article>
                <div class="card border-0">
                  <img class="card-img-top img-fluid m-0" loading="lazy" src="{% static 'images/teacher_image1.jpg' %}" alt="About ELTAN">
                  <div class="card-body border bg-white p-4">
                    <div class="entry-header mb-3">
                      <h2 class="card-title entry-title h4 mb-0">
                        <a class="link-dark text-decoration-none" href="#!">About ELTAN</a>
                      </h2>
                    </div>
                    <p class="card-text entry-summary text-secondary mb-3">
                      VISION
                    </p>
                    <p class="card-text entry-summary text-secondary mb-3">
                        The Association aims to become the principal forum for all English Language and Literature in English teachers at all levels of Nigeria's educational system; in addition to others and /or activities related to these subjects and teachers as well as their development.
                    </p>
                    <p class="card-text entry-summary text-secondary mb-3">MISSION</p>
                    <p class="card-text entry-summary text-secondary mb-3">
                      The principal goal of the Association is to promote the study and teaching of English Language and literature in English; to form a professional network of English Language/Literature teaching (ELT) professionals, and jointly tackle problems  that are common interest through several channels.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12 col-lg-6">
              <article>
                <div class="card border-0">
                  <img class="card-img-top img-fluid m-0" loading="lazy" src="{% static 'images/teacher_img1.jpg' %}" alt="Our History">
                  <div class="card-body border bg-white p-4">
                    <div class="entry-header mb-3">
                      <h2 class="card-title entry-title h4 mb-0">
                        <a class="link-dark text-decoration-none" href="#!">Our History</a>
                      </h2>
                    </div>
                    <p class="card-text entry-summary text-secondary mb-3">
                      ELTAN began in Kano in 2004 when a training was organized by The British Council to train all the English Language Teachers in Nigeria. Stakeholders in the education sector, that is, staff from the Ministry of Education nationwide, teachers from the secondary and primary schools and the Nigeria English Scholars Association (NESA) were all invited.  During the training, Dr. Felicia Moh did a presentation on vocabulary building using flashcards.
                    </p>
                    <p class="card-text entry-summary text-secondary mb-3">
                      The meeting brought out the glaring disparity between primary/secondary school teachers and their counterparts in the universities.  Stakeholders at the meeting realized that there was a need for a platform that will take care of English Teachers at all levels. The British Council Scholar, Mr. Collin Davies was in attendance. Consequently, the participants agreed to return to their different states to form State Chapters of the association. 
                      ELTAN was formally incorporated as a non-profit (non-governmental) organization on the 28th of February, 2008.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>


    

    <!-- Team 1 - Bootstrap Brain Component -->


</div>
<section class="bg-light mt-5 py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Our Team</h2>
          <p class="text-secondary mb-5 text-center lead fs-4">We are a group of innovative, experienced, and proficient teams. You will love to collaborate with us.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0 gx-xxl-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/Dr_Ken.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Dr. Kennedy Edegbe</h4>
                  <p class="text-secondary mb-0">President</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/dr_scholar.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Dr. Scholastica Amadi</h4>
                  <p class="text-secondary mb-0">National Vice President</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/abel.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Abel Eleojo Ochika</h4>
                  <p class="text-secondary mb-0">National Secretary</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/dr_tina.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Dr. Tina Ayanjor</h4>
                  <p class="text-secondary mb-0">Assistant National Secretary</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container overflow-hidden mt-5">
      <div class="row gy-4 gy-lg-0 gx-xxl-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/prof_ibiere.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Prof. Ibiere Ken-Maduako</h4>
                  <p class="text-secondary mb-0">Ex-Officio</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/joyce.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Joyce Amatotsero</h4>
                  <p class="text-secondary mb-0">Financial Secretary</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/salome.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Salome Ikokoyo</h4>
                  <p class="text-secondary mb-0">Treasurer</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/frank.jpg' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Frank Agulu</h4>
                  <p class="text-secondary mb-0">Publicity Secretary</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container overflow-hidden mt-5">
      <div class="row gy-4 gy-lg-0 gx-xxl-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-warning shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="{% static 'images/' %}" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Toyin Tijani</h4>
                  <p class="text-secondary mb-0">Auditor</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>


{% endblock content %}