{% extends 'membership/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<style>
    

    
    .features{
        padding-top: 90px !important;
        
    }
    .features > div {
        height: 25rem !important;
    }
    .features2 > div {
        height: 25rem !important;
    }

</style>

<div class="container mt-5">
    <div class="row landing">
        <h2>About ELTAN</h2>
        <div class="col-md-6">
            
            <div class="card align-items-center h-100 d-inline-block" style="padding-left:30px; width: 99%; border:none;">
                <div class="card-body position-absolute mt-5 start-3">
                  <h4 class="card-title fs-5">English Language Teachers Association of Nigeria (ELTAN)</h4>
                  <p class="card-text fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis velit ultrices, maximus justo sed, consectetur ex. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat urna tincidunt, hendrerit libero sed, pellentesque libero. Curabitur pulvinar 
                    eros libero, ac ullamcorper elit dapibus nec. Aliquam erat volutpat. Cras ut venenatis libero. Aliquam erat volutpat. Sed at mi ac nunc condimentum finibus. 
                    Sed nulla nibh, molestie sed dui sed, venenatis hendrerit nunc. Suspendisse pellentesque gravida magna, a iaculis arcu ultrices a. Morbi blandit sollicitudin cursus. 
                    Pellentesque efficitur et nibh in vulputate. Mauris ac erat sed tellus vehicula convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Vestibulum quis lacus vel quam hendrerit tristique.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-5" style="width: 99%;">
                <img src="{% static 'images/teacher_image1.jpg' %}" class="card-img" alt="...">
                
            </div>
        </div>
    </div>

    <div class="row history mt-5">
        <h2 class="mt-5">ELTAN's History</h2>
        <div class="col-md-4 mt-3">
            <div class="card mt-5" style="width: 99%;">
                <img src="{% static 'images/teacher_image1.jpg' %}" class="card-img" alt="...">
                
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis velit ultrices, maximus justo sed, consectetur ex. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat urna tincidunt, hendrerit libero sed, pellentesque libero. Curabitur pulvinar 
                eros libero, ac ullamcorper elit dapibus nec. Aliquam erat volutpat. Cras ut venenatis libero. Aliquam erat volutpat. Sed at mi ac nunc condimentum finibus. 
                Sed nulla nibh, molestie sed dui sed, venenatis hendrerit nunc. Suspendisse pellentesque gravida magna, a iaculis arcu ultrices a. Morbi blandit sollicitudin cursus. 
                Pellentesque efficitur et nibh in vulputate. Mauris ac erat sed tellus vehicula convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vestibulum quis lacus vel quam hendrerit tristique.</p>
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis velit ultrices, maximus justo sed, consectetur ex. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat urna tincidunt, hendrerit libero sed, pellentesque libero. Curabitur pulvinar 
                    eros libero, ac ullamcorper elit dapibus nec. Aliquam erat volutpat. Cras ut venenatis libero. Aliquam erat volutpat. Sed at mi ac nunc condimentum finibus. 
                    Sed nulla nibh, molestie sed dui sed, venenatis hendrerit nunc. Suspendisse pellentesque gravida magna, a iaculis arcu ultrices a. Morbi blandit sollicitudin cursus. 
                    Pellentesque efficitur et nibh in vulputate. Mauris ac erat sed tellus vehicula convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Vestibulum quis lacus vel quam hendrerit tristique.</p>
        </div>
    </div>

    <!-- Team 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Our Team</h2>
          <p class="text-secondary mb-5 text-center lead fs-4">We are a group of innovative, experienced, and proficient teams. You will love to collaborate with us.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0 gx-xxl-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="./assets/img/team-img-1.jpg" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Flora Nyra</h4>
                  <p class="text-secondary mb-0">Product Manager</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="./assets/img/team-img-5.jpg" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Evander Mac</h4>
                  <p class="text-secondary mb-0">Art Director</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="./assets/img/team-img-2.jpg" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Taytum Elia</h4>
                  <p class="text-secondary mb-0">Investment Planner</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0">
                <img class="img-fluid" loading="lazy" src="./assets/img/team-img-4.jpg" alt="">
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Wylder Elio</h4>
                  <p class="text-secondary mb-0">Financial Analyst</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>



{% endblock content %}