
{% extends 'membership/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
<style>
    .landing .card {
        min-height: 40rem !important;
    }

    
    .features{
        padding-top: 90px !important;
        
    }
    .features > div {
        height: 25rem !important;
    }
    .features2 > div {
        height: 25rem !important;
    }
    


</style>

<div class="container mt-5">
    <div class="row landing">
        <div class="col-md-6">
            <div class="card align-items-center h-100 d-inline-block" style="padding-left:30px; width: 99%; border:none; background-color: #f8e7c5;">
                <div class="card-body position-absolute top-50 start-3">
                  <h2 class="card-title fs-10">Welcome To ELTAN</h2>
                  <p class="card-text fs-5">Join us in fostering excellence in English language teaching and learning across Nigeria. Explore our resources, events, and community to enhance your professional journey.</p>
                  <a href="{% url 'register' %}" class="btn btn-lg btn-primary mt-3" style=" border:none; background-color: #E67918; padding:10px 15px; border-radius: 0;">JOIN NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 99%;">
                <img src="{% static 'images/image_teacher.jpg' %}" class="card-img" alt="...">
                
            </div>
        </div>
    </div>

    <div class="row mt-5 banner">
        <h3 class="text-center mt-5 mb-3">Upcoming Events</h3>
        <div class="col-md-12 mt-5">
            <img src="{% static 'images/eltan_banner.png' %}" width="100%" alt="">
        </div>
    </div>
    <!-- Features 1 -->
    <div class="row mt-5 features">
        <div class="col-md-6">
            <div class="card align-items-center text-white h-100 d-inline-block mt-5 pt-5" style="padding-left:30px; width: 99%; border:none; background-color: #035e96;">
                <div class="card-body position-absolute top-30 start-3">
                  <h2 class="card-title fs-10"> ELTAN 2024 Conference & Exhibition </h2>
                  <p class="card-text fs-5 mt-5">Find out more about the 2024 ELTAN National Conference</p>
                  <a href="{% url 'register' %}" class="btn btn-lg btn-primary mt-3 position-absolute top-100 start-3" style=" border:none; background-color: #E67918; padding:10px 15px; border-radius: 0;">REGISTER NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card align-items-center text-white h-100 d-inline-block pt-5" style="padding-left:30px; width: 99%; border:none; background-color: #023656;">
                <div class="card-body position-absolute top-40 start-3">
                  <h2 class="card-title fs-10">Volunteer Positions</h2>
                  <p class="card-text fs-5 mt-5">Want to be part of what ELTAN is doing? You can register to become a volunteer.</p>
                  <a href="{% url 'register' %}" class="btn btn-lg btn-primary mt-3 position-absolute top-100 start-3" style=" border:none; background-color: #E67918; padding:10px 15px; border-radius: 0;">BECOME A VOLUNTEER</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features 2 -->
    <div class="row mt-5 mb-5 features2">
        <div class="col-md-6">
            <div class="card align-items-center text-white h-100 d-inline-block mt-5 pt-5" style="padding-left:30px; width: 99%; border:none; background-color: #382600;">
                <div class="card-body position-absolute top-30 start-3">
                  <h2 class="card-title fs-10"> Special Interest Groups </h2>
                  <p class="card-text fs-5 mt-5">Get to know our Special Interest Groups and ensure you join one.</p>
                  <a href="{% url 'register' %}" class="btn btn-lg btn-primary mt-3 position-absolute top-100 start-3" style=" border:none; background-color: #E67918; padding:10px 15px; border-radius: 0;">REGISTER NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card align-items-center text-white h-100 d-inline-block pt-5" style="padding-left:30px; width: 99%; border:none; background-color: #996600;">
                <div class="card-body position-absolute top-40 start-3">
                  <h2 class="card-title fs-10">Volunteer Positions</h2>
                  <p class="card-text fs-5 mt-5">Want to be part of what ELTAN is doing? You can register to become a volunteer.</p>
                  <a href="{% url 'register' %}" class="btn btn-lg btn-primary mt-3 position-absolute top-100 start-3" style=" border:none; background-color: #E67918; padding:10px 15px; border-radius: 0;">BECOME A VOLUNTEER</a>
                </div>
            </div>
        </div>
    </div>


</div>

<section class="vh-60 mt-5" style="background-color: #eee; margin-top: 100px !important;">
    <div class="container py-5 h-100 mt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <!-- <div class="text-center mb-4 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-quotes/bulb.webp"
                  alt="Bulb" width="100">
              </div> -->
  
              <figure class="text-center mb-0">
                <blockquote class="blockquote">
                  <p class="pb-3">
                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                    <span class="lead font-italic" style="font-size: 30px;">Many of life's failures are people who did not realize how
                      close they were to success when they gave up.</span>
                    <i class="fas fa-quote-right fa-xs text-primary"></i>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">
                  Thomas Edison
                </figcaption>
              </figure>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-5 pt-5">
    <div class="row"></div>
  </section>

{% endblock content %}