{% extends "membership/base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">ELTAN Special Interest Groups (SIGs)</h3>
          <h2 class="display-5 mb-4">Discover Your Unique Path in English Language Teaching!</h2>
          <a href="" type="button" class="btn btn-lg btn-warning mb-3 mb-md-4 mb-xl-5 text-white" style="background-color: #E67918;">Join An SIG Now</a>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">English for Special Purposes</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Focuses on teaching English tailored to specific disciplines or professions.</li>
                      <li>Emphasizes language skills relevant to learners</li>
                      <li>Examples include English for Business, English for Medicine, etc.</li>
                    </ul>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Literature</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Explores literary texts in English, including novels, poems, plays, etc.</li>
                      <li>Analyzes themes, characters, literary devices, and cultural contexts.
                        </li>
                      <li>Encourages critical thinking and interpretation skills.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First SIGs -->
    <div class="container mt-5">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Learning Technologies</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Integrates technology into language teaching and learning.</li>
                      <li>Utilizes tools like educational software, online platforms, and multimedia resources.</li>
                      <li>Enhances engagement, interactivity, and accessibility in language education.</li>
                    </ul>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Inclusive Practice and Special Edudation Needs</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Addresses strategies for accommodating diverse learners, including those with disabilities or special educational needs (SEN).</li>
                      <li>Promotes inclusive teaching methodologies and supportive learning environments.</li>
                      
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Second SIG Line -->
    <div class="container mt-5">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Young Learners / Teenagers</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Addresses teaching approaches and materials suitable for children and adolescents.</li>
                      <li>Considers developmental stages, interests, and learning styles of young learners.</li>
                      <li>Incorporates age-appropriate activities, games, and themes into language instruction.</li>
                    </ul>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Nigerian English</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Focuses on the English language as used in Nigeria, reflecting linguistic features, vocabulary, and cultural influences unique to the region.</li>
                      <li>Studies variations in pronunciation, grammar, and lexicon within Nigerian English.</li>
                      <li>Explores sociolinguistic aspects, including language attitudes and identity.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Third SIG Line -->
    <div class="container mt-5">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Pronounciation</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Focuses on the sounds, stress patterns, and intonation of English speech.</li>
                      <li>Aims to improve learners' intelligibility and fluency in spoken English.</li>
                      <li>Utilizes activities such as drills, repetition, and audiovisual resources.</li>
                    </ul>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Teacher Development / Testing, Evaluation, and Assessment</h2>
                  <p class="card-text lead">
                    <ul>
                      <li>Enhances educators' skills, knowledge, and professionalism.</li>
                      <li>Includes workshops, seminars, mentoring, and ongoing professional development opportunities.</li>
                      <li>Supports continuous growth and innovation in language teaching practice.</li>
                      <li>Examines methods for assessing language proficiency, progress, and achievement.</li>
                      <li>Covers various types of assessments, including formative and summative evaluations, standardized tests, and performance-based assessments.</li>
                      
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Fourth SIG Line -->

  </section>
{% endblock content %}